{% extends "base.html" %} {% block content %}
<!-- {% load static %} -->
<div class="container">
    <h1>Gallery</h1>
    <!-- <img src="{{ MEDIA_URL }}{{ image.imgfile.name }}"></img> -->
    <!-- {{ vegetable }} -->
    <!-- <div class="container"> -->
    <!-- </div> -->
    <!-- <img src="{% static fimage.image.url %}" alt="My image"/> -->
    <!--  <p>{{fimage.image.url}}</p> -->
    <!-- {{message}} -->
    <!-- <br>{{exp}} -->
  <!--   <br> {% for i in session_list %} {{i}}
    <br> {% endfor %} -->
    <!-- {{number}} -->
</div>

<div class="row">
    {% for fimage in image_list %}
    <center>
        <div class="col-md-3">

         <!-- <a href="{{fimage.image.url}}"> -->


            <a href="{% url 'image' fimage.id %} ">

        <!-- <a href="gallery/{{fimage.id}}"> -->
                <img   class="img-thumbnail" src="{{ fimage.image.url }}" height="300" width="300">
            </a>
             <!-- </a> -->

            <p>{{fimage.description}}</p>
        </div>
    </center>
    {% endfor %}
</div>
{% endblock %}
